<div class='userEditPage'>
  <div class='header'>アカウント編集</div>
  <div class='container'>
    <%= form_for current_user, url: registration_path(current_user) do |f| %>
      <div class="form-group">
        <%= f.label '名前' %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label '自己紹介' %>
        <%= f.text_area :self_introduction, class: "form-control" %>
      </div>
      <div class="form-group">
        性別:
        <%= f.label '男' %>
        <%= f.radio_button :sex, :男 %>
        <%= f.label '女' %>
        <%= f.radio_button :sex, :女 %>
      </div>
      <div class="form-group">
        画像:
        <%= f.file_field :image %>
      </div>
      <div class="text-center">
        <%= f.submit '更新', class: "btn submitBtn" %>
      </div>
    <% end %>
  </div>
</div>
<%= render 'layouts/footer' %>