<%= render 'layouts/header' %>
<div class="ShopsPage">
  <h2 class="ShopsPage_title">お気に入りのお店を<br class="ShopsPage_br">Shareしよう！</h2>
  <!-- Trigger -->           
  <p class="ShopsPage_modal_link" data-toggle="modal" data-target="#myModal2">※Shareのやり方</p>
  <!-- Modal -->
  <div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">まずは検索してみよう！</h4>
        </div>
        <div class="modal-body">
          <p class="modal-body_contents">お店の名前や、場所を検索すると検索結果が表示されます。</p>
          <%= image_tag '/assets/modal-img1.jpeg', class: "Modal-explanation-img1"%>
          <p class="modal-body_contents">お店の情報を投稿するにはお店の写真をクリックします。</p>
          <%= image_tag '/assets/modal-img2.jpeg', class: "Modal-explanation-img2" %>
          <p class="modal-body_contents">お店の名前などがすでに記入されていますのでそのまま投稿できます。</p>
          <%= image_tag '/assets/modal-img3.jpeg', class: "Modal-explanation-img3" %>
          <p class="modal-body_contents">みんなに行きつけのお店を教えてみよう！</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
        </div>
      </div>
    </div>
  </div>
  <%= form_tag(shops_path,:method => 'get', :class => 'ShopsPage_form') do %>
    <%= text_field_tag :search, "",{ placeholder: "店舗名　地域", size: "30" } %>
    <%= submit_tag 'Search', :class=>"btn btn-warning" %>
  <% end %>
  <div class="ShopsPage_rootlink"><%= link_to "投稿ページに戻る", root_path %></div>
  <% if @rests %>
    <% @rests.each do |rest| %>
      <div class="card mb-3" style="max-width:1000px;">
        <div class="row no-gutters">
          <div class="col-lg-6">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal-<%= rest["id"] %>">
              <ul>
                <li class="Gurunabi_Search_Image">
                  <%= image_tag(rest["image_url"]["shop_image1"]) %>
                  <div class="Post_Mask">
                    <div class="caption">Let's Share!</div>
                  </div>
                </li>
                <li><%= rest["access"]["line"] %> <%= rest["access"]["station"] %> <%= rest["access"]["station_exit"] %> <%= rest["access"]["walk"] %>分</li>
              </ul>
            </button>
            <!-- Modal -->
            <div id="myModal-<%= rest["id"] %>" class="modal fade ShopModal" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header ShopModal_title">
                    <h4 class="modal-title">Share</h4>
                  </div>
                  <div div class="modal-body">
                    <p class="ShopModal_img"><%= image_tag(rest["image_url"]["shop_image1"]) %></p>
                    <%= form_for(@post) do |f| %>
                      <p class="form-group ShopModal_form">
                        <%= f.text_area :content, value: "私のお勧めのお店の名前は　#{rest["name"]}　です!  是非食べに行ってみてね！ #{rest["url"]}", id: "shop_content" %>
                        <%= f.text_field :gurunabi_image, value: image_tag(rest["image_url"]["shop_image1"]) %>
                      </p>
                      <div class="modal-footer">
                        <%= f.submit "Post", class: "btn btn-info" %>
                        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card-body">
              <p>名前: <span class="card-body_ShopName"><%= rest["name"] %></span></p>
              <p>住所: <%= rest["address"] %></p>
              <p>ぐるなび: <a href="<%= rest["url"] %>"><%= rest["url"] %></a></p>
            </div>  
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<% if @rests %>
  <%= render 'layouts/footer' %>
<% end %>