<% visitor = notification.visitor %>
<% visited = notification.visited %>
<li>
  <%= link_to user_path(visitor) do %>
    <% if visitor.image? %>
      <%= image_tag(visitor.image.url(:thumb), :size =>'50x50', class: "NotificationsPage_userimg") %>
    <% else %>
      <%= image_tag 'no-image.png', size: '80x80', class: "NotificationsPage_userimg" %>
    <% end %>
    <span><%= visitor.name %><span>
  <% end %>
  <span>さんが</span>
  <% case notification.action %>
  <% when 'follow' then %>
    <%= "あなたをフォローしました" %>
  <% when 'comment' then %>
    <% if notification.post.user_id == visited.id %>
      <%= link_to "あなたの投稿", notification.post, class: "crrent-username" %>
      <span>にコメントしました</span>
    <% else %>
      <span>
        <%= link_to post_path(notification.post) do %>
          <% if visitor.image? %>
            <%= image_tag(visitor.image.url(:thumb), :size =>'50x50', class: "NotificationsPage_userimg") %>
          <% else %>
            <%= image_tag 'no-image.png', size: '80x80', class: "NotificationsPage_userimg" %>
          <% end %>
          <%= notification.post.user.name + 'さんの投稿' %>
        <% end %>
        <span>にコメントしました</span>
      </span>
    <% end %>
  <% end %>
</li>
<div class="NotificationsPage_createtime">
  <%= time_ago_in_words(notification.created_at).upcase %><span>前</span>
</div>