<% notifications = @notifications.where.not(visitor_id: current_user.id) %>
<header id="CommonHeader">
  <p><%= link_to "Restaurant Share", root_path %></p>
</header>
<div class="container">
  <div class="row NotificationsPage">
    <% if notifications.exists? %>
      <ul class="NotificationsPage_list">
        <%= link_to "プロフィールページへ", root_path, class: "NotificationsPage_mypagelink" %>
        <%= render notifications %>
      </ul>
      <%= will_paginate notifications %>
    <% else %>
      <p class="NotificationsPage_false-exists">通知はありません<p>
    <% end %>
  </div>
</div>
<%= render 'layouts/footer' %>