<%  unless current_user == @user %>
  <div id="follow_form">
    <% if current_user.following?(@user) %>
      <%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
      html: { method: :delete }) do |f| %>
        <%= f.submit "フォロー中", class: "btn unfollow_botton" %>
      <% end %>
    <% else %>
      <%= form_for(current_user.active_relationships.build) do |f| %>
        <div><%= hidden_field_tag :followed_id, @user.id %></div>
        <%= f.submit "フォロー", class: "btn follow_botton" %>
      <% end %>
    <% end %>
  </div>
<% end %>