<%= render 'layouts/header' %>
<div class="AllUsersPage">
  <h1 class="AllUsersPage_toptitle">All Users</h1>
  <%= form_tag(users_path, :method => "get", :class => 'AllUsersPage_search_form') do %>
    <%= text_field_tag :search, "",{ placeholder: "名前で探す", size: "30" } %> 
    <%= button_tag type: 'submit', :name => nil, class: 'btn btn-default' do %>
      <i class="fas fa-search"></i>
    <% end %>
  <% end %> 
  <p class="AllUsersPage_mypagelink">
    <%= link_to "←マイページに戻る", user_path(current_user.id) %>
  </p>
  <%= will_paginate @users, previous_label: '&lt 前へ', next_label: '次へ &gt' %>
  <table class="table table-striped UsersItem">
    <thead class="UsersItem_title">
      <tr class="UsersItem_title_name">
        <th class="UsersItem_title_name_lest1">User</th>
        <th class="UsersItem_title_name_lest2">名前</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td class="UsersItem_imgs">
            <% if user.image? %>
              <%= link_to image_tag(user.image.url(:thumb), :size =>'150x150'), user %>
            <% else %>
              <%= link_to image_tag('no-image.png', :size =>'150x150'), user %>
            <% end %>
          </td>
          <td class="UsersItem_name"><%= user.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= render 'layouts/footer' %>