<%= render 'layouts/header' %>
<div class="FollowPage">
  <div class="row">
    <div class="col-md-6 FollowPage_left">
      <div class="UserInformation">
        <p class="UserInformation_link"><%= link_to "プロフィールページへ", @user %></p>
        <% if @user.image? %>
          <%= image_tag @user.image.url, :size =>'200x200', class: "UserInformation_image" %>
        <% else %>
          <%= image_tag 'no-image.png', :size =>'200x200', class: "UserInformation_image" %>
        <% end %>
        <h3 class="UserInformation_name"><%= @user.name %></h3>
      </div>
      <div class="UserFollow">
        <% if @users.any? %>
          <ul class="UserFollow_link">
            <li><a href="<%= following_user_path(@user) %>">フォロー中 <%= @user.following.count %></a></li>
            <li><a href="<%= followers_user_path(@user) %>">フォロワー <%= @user.followers.count %></a></li>
          </ul>
        <% end %>
      </div>
    </div>
    <div class="col-md-6 FollowPage_right">
      <h3 class="FollowPage_right_title"><%= @title %></h3>
      <% if @users.any? %>
        <ul class="FollowPage_right_item">
          <%= will_paginate %>
          <% @users.each do |user| %>
            <li class="FollowPage_right_list">
              <% if user.image? %>
                <%= image_tag user.image.url, :size =>'50x50', class: "FollowPage_right_image" %>
              <% else %>
                <%= image_tag 'no-image.png', :size =>'50x50', class: "FollowPage_right_image" %>
              <% end %>
              <span class="FollowPage_right_name">
                <%= link_to user.name, user_path(user.id) %>
              </span>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>