<%= render 'layouts/header' %>
<div class='usershowPage'>
  <div class='container'>
    <div class="row">
      <div class="col-md-6 usershowPage_leftItem">
        <header class="header">
          <div class='userAction_index userAction_common'>
            <%= link_to(users_path, class: "User_List") do %>
              <i class="fas fa-reply-all fa-2x"></i>
            <% end %>
            <span class="userAction_label">User一覧</span>
          </div>
        </header>
        <div class='userInfo'>
          <div class='userInfo_img'>
            <% if @user.image? %>
              <%= image_tag @user.image.url(:thumb) %>
            <% else %>
              <%= image_tag 'no-image.png', :size =>'170x170' %>
            <% end %>
          </div>
          <div class='userInfo_name'><%= @user.name %></div>
          <div class="userInfo_follow">
            <a href="<%= following_user_path(@user) %>">
              フォロー中 <%= @user.following.count %>
            </a>
            <a href="<%= followers_user_path(@user) %>">
              フォロワー <%= @user.followers.count %>
            </a>
            <%= render 'follow_form' %>
          </div>
          <div class='userInfo_selfIntroduction'><%= @user.self_introduction %></div>
        </div>
        <% if current_user.id == @user.id %>
          <div class='PostBtton'>
            <div class='PostBtton_item'>
              <%= link_to(root_path, class: "User_post") do %>
                <i class="fas fa-images fa-2x"></i>
              <% end %>
              <span>投稿する</span>
            </div>
          </div>
          <div class='userAction'>
            <div class="userAction_edit userAction_common">
              <%= link_to(edit_user_registration_path, class: "User_edit") do %>
                <i class="fas fa-edit fa-2x"></i>
              <% end %>
              <span>情報を編集</span>
            </div>
            <div class='userAction_logout userAction_common'>
              <%= link_to(destroy_user_session_path, method: :delete, class: "User_delete") do %>
                <i class="fas fa-cog fa-2x"></i>
              <% end %>
              <span>ログアウト</span>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-6">
        <% if @user.posts.any? %>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>つぶやき</th>
                <th class="MainPagination"><%= will_paginate @posts %></th>
              </tr>
            </thead>
            <tbody class="Light_Section">
              <% @posts.each do |post| %>
                <tr>
                  <td class="User_icon">
                    <ul>
                      <li>
                        <% if @user.image? %>
                          <%= image_tag @user.image.url(:thumb), :size =>'80x80', class: "User_icon_image" %>
                        <% else %>
                          <%= image_tag 'no-image.png', :size =>'80x80', class: "User_icon_image" %>
                        <% end %>
                      </li>
                      <% if current_user.id == @user.id %>
                        <li><%= link_to "削除する", post, method: :delete,:class=>"User_icon_delete", data: { confirm: "本当に削除しますか？" } %></li>
                      <% end %>
                    </ul>
                  </td>
                  <td class="Timeline">
                    <ul class="Timeline_box">
                      <li class="Timeline_content"><%= Rinku.auto_link(simple_format(post.content), :all, 'target="_blank"').html_safe %></li>
                      <% if post.picture? %>
                        <li class="Timeline_Image"><%= image_tag post.picture.url, :size =>'300x300' %></li>
                      <% end %>
                      <% if post.gurunabi_image? %>
                        <li><%= Rinku.auto_link(simple_format(post.gurunabi_image), :all, 'target="_blank"').html_safe %></li>
                      <% end %>
                      <%= link_to post_path(post.id) do %>
                        <i class="fas fa-comment-dots Timeline_comment_link">コメントする</i>
                      <% end %>
                    </ul>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>