<%= render 'layouts/header' %>
<div class="container PostCommentsPage">
  <div class="row">
    <div class="col-md-6" id="post-#{@post.id}">
      <div class="PostCommentsPage_Left">
        <div class="PostCommentsPage_Left_top">
          <% if @post.user.image? %>
            <%= image_tag @post.user.image.thumb.url, size: '80x80', class: "PostCommentsPage_Left_top_userimage" %>
          <% else %>
            <%= image_tag 'no-image.png', size: '80x80', class: "PostCommentsPage_Left_top_userimage" %>
          <% end %>
          <span><%= link_to "#{@post.user.name}", @post.user, class: "PostCommentsPage_Left_top_username" %></span>
          <p><%= link_to "←投稿ページへ", root_path, class: "PostCommentsPage_Left_top_link" %></p>
        </div>
        <div class="PostCommentsPage_Left_item">
          <% if @post.gurunabi_image? %>
            <%= Rinku.auto_link(simple_format(@post.gurunabi_image, class: "PostCommentsPage_Left_item_image"), :all, 'target="_blank"').html_safe %>
          <% end %>
          <%= image_tag @post.picture.url, class: "PostCommentsPage_Left_item_image" if @post.picture? %>
          <%= Rinku.auto_link(simple_format(@post.content, class: "PostCommentsPage_Left_item_content"), :all, 'target="_blank"').html_safe %>
        </div>
        <div>
          <%= form_for([@post, @comment]) do |f| %>
            <%= f.text_area :content, placeholder: "コメント..." %>
            <%= f.submit "送信", class: "btn btn-warning btn-lg PostCommentsPage_Left_item_botton" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="PostCommentsPage_right">
        <h3 class="PostCommentsPage_right_title">Comments</h3>
        <% @post.comments.order(created_at: :desc).each do |comment| %>
          <% if comment.user.image? %>
            <%= image_tag comment.user.image.thumb.url, size: '60x60', class: "PostCommentsPage_right_image" %>
          <% else %>
            <%= image_tag 'no-image.png',size: '60x60', class: "PostCommentsPage_right_image" %>
          <% end %>
          <span><%= link_to "#{comment.user.name}", comment.user, class: "PostCommentsPage_right_name" %></span>
          <span>
            <% if comment.user_id == current_user.id %>
              <%= link_to [@post, comment], method: :delete, data: { confirm: "このコメントを削除しますか？" }, class: "PostCommentsPage_right_delete" do %>
                <i class="far fa-trash-alt fa-2x PostCommentsPage_right_icon"></i>
              <% end %>
            <% end %>
          </span>
          <p class="PostCommentsPage_right_item"><%= comment.content %></p> 
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>