/* Library */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@import "common";

/* pages */
@import "top";
@import "users/sign_up";
@import "users/sign_in";
@import "users/show";
@import "users/edit";
@import "posts";
@import "shops";
@import "comments";
@import "relationships";
@import "notifications";

body {
  background-image: image-url("bg.png");
}

* {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
  padding: 0px;
}

div#error_explanation h2 {
  text-align: center;
  color: crimson;
  font-weight: bold;
}

#error_explanation_list {
  width: 300px;
  margin: 10px auto 20px auto;
  color: crimson;
}

div.field_with_errors {
  background-color: #fcc;
  padding: 2px;
}

.alert {
  margin-bottom: 0;
}