.linkToLogin {
  margin: 15px 0 15px;
  text-align: center;
  &_facebook {
    margin-top: 20px;
    color: cornflowerblue;
    font-size: large;
    text-align: center;
  }
  & > a {
    color: darksalmon;
  }
}

footer {
  width: 100%;
  height: 120px;
  text-align: center;
  padding: 50px 0;
  margin-top: 100px;
  background-color: bisque;
}

header#CommonHeader {
  width: 100%;
  height: 50px;
  padding: 12px 40px;
  background-color: darksalmon;
  p a {
    color: cornsilk;
    font-size: large;
    text-decoration: none;
  }
  p span.notification {
    margin-left: 45px;
  }
  i.notification-circle {
    color: red;
    font-size: 13px;
  }
}

@media screen and (max-width: 560px) {
  header#CommonHeader {
    padding: 12px 20px;
  }
}