.PostCommentsPage {
  &_Left {
    &_top {
      margin-top: 30px;
      &_userimage {
        border-radius: 50%;
        margin-right: 20px;

      }
      &_username {
        color: darkgray;
        font-size: 25px;
      }
      &_link {
        display: inline-block;
        margin-top: 20px;
        color: #DA8A37;
        font-size: 20px;
      }
    }
    &_item {
      text-align: center;
      &_content {
        margin-top: 30px;
        font-size: 18px;
      }
      &_botton {
        margin-top: 20px;
      }
    }
  }
  &_right {
    &_title {
      color: darkgray;
      margin-top: 30px;
      margin-bottom: 30px;
      text-align: center;
      font-size: 30px;
    }
    &_image {
      border-radius: 50%;
    }
    &_name {
      font-size: 18px;
      color: darkgray;
    }
    &_delete {
      display: inline-block;
      margin-left: 20px;
    }
    &_item {
      margin-top: 10px;
      margin-left: 30px;
      font-size: 18px;
    }
    &_icon {
      color: grey;
    }
  }
}

form#new_comment {
  text-align: center;
}
textarea#comment_content {
  height: 105px;
  width: 100%;
  margin-bottom: 0;
}

@media screen and (max-width: 560px) {
  .PostCommentsPage {
    &_Left_item {
      &_image, &_image img {
      margin: 0 auto;
      width: 200px;
      height: 200px;
      }
      &_content {
        overflow: auto;
      }
    }
  }
}
