.NotificationsPage {
  width: 660px;
  margin: 50px auto 0 auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 7px 7px rgb(211,211,211);
  padding: 25px;
  &_mypagelink {
    color: burlywood;
    margin: 20px;
    display: block;
  }
  &_userimg {
    border-radius: 50%;
  }

  &_createtime {
    text-align: right;
    margin-bottom: 10px;
    border-bottom: 2px solid #f1e6d7;
  }
  &_false-exists {
    margin: 0 auto;
  }
}

@media screen and (max-width: 560px) {
  .NotificationsPage {
    width: 350px;
  }
}
