.userPost {
  height: auto;
  text-align:  center;
  &_link {
    color: darksalmon;
    margin-top: 20px;
    margin-bottom: 35px;
    font-size: 20px;
  }
  &_img {
    &>img {
      border-radius: 50%;
    }
  }
  &_name {
    margin-top: 15px;
    font-size: 35px;
  }
  &_form {
    &_images {
      margin-bottom: 0;
      input{
        display: none;
      }
      &_icon {
        color: deeppink;
        cursor: pointer;
      }
      &_icon:hover {
        opacity: 0.8;
      }
    }
    &_shop {
      &_icon, &_link {
        color: darksalmon;
      }
      &_link {
        font-size: 20px;
        display: inline-block;
        margin: 30px 0;
      }
      &_link:hover {
        opacity: 0.8;
        color: darksalmon;
        text-decoration: none;
      }
    }
    &_botton {
      display: block;
      margin: 0 0 0 auto;
      border-radius: 50%;
      height: 70px;
    }
    .userImgPreview {
      margin: 0 auto;
      display: none;
      text-align: center;
      &.is-active {
        display: block;
      }
      &_content {
        max-width: 100px;
        margin: 10px;
        padding: 10px;
        border: solid thin lightgray;
        border-radius: 5px;
      }
    }
  }
}

form#new_post {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 4px 4px lightgrey;
}

textarea#post_content {
  width: 100%;
  height: 100px;
  border: none;
}