.FollowPage {
  &_left {
    .UserInformation {
      &_link {
        text-align: center;
        background-color: antiquewhite;
        border-radius: 70px;
        padding: 15px;
        width: 200px;
        margin: 20px 10px;
        a {
          font-size: 15px;
          color: chocolate;
        }
      }
      &_image {
        display: block;
        margin: 20px auto;
        border-radius: 50%;
      }
      &_name {
        text-align: center;
        margin-bottom: 20px;
      }
    }
    .UserFollow {
      &_link {
        text-align: center;
        padding: 15px;
        margin-left: 10px;
        li {
          padding: 20px 0;
          width: 250px;
          margin: 9px auto;
          background-color: antiquewhite;
          border-radius: 30px;
          a {
            font-size: 25px;
            color: goldenrod;
          }
        }
      }
    }
  }
  &_right {
    &_title {
      text-align: center;
      margin-top: 30px;
      color: slategrey;
    }
    &_item {
      margin: 40px 50px 10px 50px;
      background-color: white;
      border-radius: 25px;
    }
    .pagination {
      margin-bottom: 20px;
    }
    &_list {
      margin-bottom: 20px;
      background: white;
      font-size: 23px;
      padding: 10px;
      border-radius: 15px;
    }
    &_image {
      border-radius: 50%;
    }
    &_name {
      display: inline-block;
      margin-left: 20px;
      a {
        color: black;
      }
    }
  }
}
