.ShopsPage {
  margin: 0 auto; 
  &_title {
  height: 80px;
  text-align: center;
  // margin: 0 auto;
  padding-top: 40px;
  color: #da8a14;
  }
  &_br {
    display: none;
  }
  &_modal_link {
    text-align: center;
    cursor: pointer;
    font-size: 21px;
    color: burlywood;
  }
  &_form {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  &_rootlink {
    text-align: center;
    margin-bottom: 20px;
    a {
      color: gray;
    }
  }
 div.card {
   margin: 0 auto;
   box-shadow: 5px 5px gainsboro;
 }
 #myModal2 .modal-title {
  margin: 0 auto;
 }
 #myModal2 .modal-body {
   text-align: center;
   .Modal-explanation-img1 {
    width: 450px;
    height: 100px;
    margin: 0 60px 30px 20px;
   }
   .Modal-explanation-img2 {
    width: 300px;
    height: 300px;
    margin: 20px 20px 30px 55px;
   }
   .Modal-explanation-img3 {
    width: 200px;
    height: 350px;
    margin: 0px 20px 30px 0px;
   }
 }
}

input#post_gurunabi_image {
  display: none;
}

.Gurunabi_Search_Image {
	width:			240px;
	height:			188px;
	overflow:		hidden;
	margin:			10px 8px 10px 16px;
	position:		relative;
}
.Gurunabi_Search_Image .caption {
	font-size:		130%;
	color:			#fff;
	padding-top:		80px;
	padding-left:		0px;
}
.Gurunabi_Search_Image .Post_Mask {
	width:			100%;
	height:			100%;
	position:		absolute;
	top:			0;
	left:			0;
	opacity:		0;
	background-color:	rgba(0,0,0,0.4);
	-webkit-transition:	all 0.6s ease;
	transition:		all 0.6s ease;
}
.Gurunabi_Search_Image:hover .Post_Mask {
	opacity:		1;
	padding-left:		90px;
}

.ShopModal {
  &_img, &_form {
    text-align: center;
  }
  &_form textarea#shop_content {
    width: 400px;
    height: 100px;
  }
  &_title {
    margin: 0 auto;
  }
}

@media screen and (max-width: 560px) {
  .ShopsPage {
    &_title {
      height: 30px;
      margin-bottom: 100px;
    }
    &_br {
      display: inline;
    }
    &_form input#search {
      margin-bottom: 20px;
    }
    div.card .row .col-lg-6 {
      text-align: center;
      .card-body_ShopName {
        font-weight: bold;
        font-size: 20px;
      }
    }
    #myModal2 .modal-body {
      text-align: center;
      .Modal-explanation-img1 {
        width: 300px;
        height: 100px;
        margin: 0 0px 30px -15px;
      }
      .Modal-explanation-img2 {
        width: 300px;
        height: 300px;
        margin: 19px -10px 30px 0px;
      }
      .Modal-explanation-img3 {
       width: 200px;
       height: 350px;
       margin: 0px 20px 30px 0px;
      }
    }
  }
  .ShopModal_form textarea#shop_content {
      width: 100%;
      height: 100px;
  }
}
