.loginPage {
  &_contents {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    &_title {
      margin-top: 12vh;
      font-size: 85px;
      font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
      font-weight: bold;
      color: rgb(47, 53, 58);
    }
    &_btn {
      display: block;
      max-width: 400px;
      padding: 20px;
      margin: 0 auto;
      border-radius: 30px;
      background: darksalmon;
      color: #fff;
    }
    &_btn:hover {
      color: #fff;
      opacity: 0.8;
    }
    &_TopImage {
      width:  300px;
      height: 300px;
      margin: 20px auto;
    }
  }
  &_facebook {
    margin-top: 20px;
    color: cornflowerblue;
    font-size: large;
  }
  &_guestlogin {
    display: inline-block;
    margin-top: 10px;
    color: darkgray;
  }
}

th.MainPagination div ul li a {
  padding: 5px;
  height: 50px;
  font-size: 14px;
  color: rosybrown;
} 
.Timeline {
  &_content {
    margin-bottom: 30px;
    width: 400px;
    overflow: auto;
  }
  &_comment_link {
    color: #DA8A37;
  }
}

tbody.Light_Section {
  background-color: white;
  box-shadow: 7p;
  box-shadow: 7px 7px lightgrey;
}

.User_icon {
  width: 120px;
  &_image {
    border-radius: 50%;
  }
  &_delete {
    font-size: 15px;
  }
  &_name {
    color: black;
    margin: 3px 0 14px 10px;
    display: block;
    height: 40px;
    width: 100px;
    font-size: 15px;
  }
}

@media screen and (max-width: 560px) {
 .table.Main_Light_section  thead tr th {
   padding: 0;
   margin-bottom: 25px;
   display: inline-block;
   margin-left: 25px;
   border: none;
   font-size: 20px;
 }
  .Timeline {
    &_box li p img{
      width: 200px;
      height: 200px;
      overflow: hidden;
    }
    &_content {
      margin-bottom: 30px;
      width: 200px;
      overflow: auto;
      p {
        margin-top: 15px;
        margin-bottom: 1rem;
      }
    }
    &_comment_link {
      color: #DA8A37;
    }
    &_Image img {
      width: 200px;
      height: 200px;
    }
  }
  .User_icon {
    &_image {
      margin: 15px 10px;
    }
  }
  .loginPage {
    &_contents {
      &_title {
        margin-top: 6vh;
        font-size: 50px;
      }
      &_TopImage {
        width:  200px;
        height: 200px;
        margin: 20px auto;
      }
    }
  }
  .table th, .table td {
    padding: 0;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
}