$main-color: darksalmon;
$main-text-color: #fff;

.userEditPage {
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 80px;
    margin-right: auto;
    margin-left: auto;
    height: 510px;
  }
  .header {
    padding: 15px;
    margin-bottom: 40px;
    text-align: center;
    background: $main-color;
    color: $main-text-color;
  }
  .submitBtn {
    background: $main-color;
    color: $main-text-color;
    width: 200px;
    padding: 10px;
    border-radius: 90px;
    transition: opacity .5s;
    &:hover {
      opacity: .6;
    }
  }
}