.usershowPage {
  .header {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 30px;
  }
  .userInfo {
    &_img {
      width: 170px;
      height: 170px;
      margin: 0 auto;
      border-radius: 50%;
      overflow: hidden;
      &>img {
        width: 100%;
        height: 170px;
      }
    }
    &_name {
      text-align: center;
      margin-top: 30px;
      font-size: 30px;
    }
    &_follow {
      text-align: center;
      margin-top: 20px;
      a {
        text-align: center;
        background-color: darkorange;
        color: blanchedalmond;
        display: inline-block;
        width: 130px;
        border-radius: 20px;
        height: 40px;
        padding: 8px;
        margin-right: 10px;
      }
      .edit_relationship, .new_relationship {
        margin-top: 20px;
      }
      .unfollow_botton {
        background-color: powderblue;
        color: azure;
      }
    }
    &_selfIntroduction {
      margin-top: 30px;
      text-align: center;
    }
  }
  .userAction {
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin: 8vh auto 0;
    color:#c3c7d0;
    &_label {
      color:#c3c7d0;
    }
    &_common {
      & > a {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        color:#c3c7d0;
        text-decoration: none;
        box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
        transition: color .5s;
        &:hover {
          color:#fd5068;
        }
      }
    }
  }

  .PostBtton {
    display: flex;
    justify-content:  center;
    width: 250px;
    margin: 5vh auto 0;
    color:#c3c7d0;
    &_item {
      & > a {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        color:#c3c7d0;
        text-decoration: none;
        box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
        transition: color .5s;
        &:hover {
          color:#fd5068;
        }
      }
    }
  }
}

.AllUsersPage {
  &_toptitle {
    text-align: center;
    margin: 30px 0;
    font-size: 40px;
    color: #da8a14;
  }
  &_mypagelink {
    margin-left: 50px;
    a {
      color: #c3c7d0;
    }
  }
  &_search_form {
    text-align: right;
    margin-right: 50px;
  }
}

.UsersItem {
  margin: 0 auto;
  &_imgs {
    width: 650px;
    a img {
      border-radius: 50%;
      margin-left: 240px;
    }
    a:hover {
      opacity: 0.8;
    }
  }
  &_name {
    font-size: 20px;
    display: block;
    height: 150px;
    text-align: center;
  }
  &_title {
    color: slategray;
    &_name {
      text-align: center;
    }
  }
}

div ul li a {
  color:#c3c7d0;
  font-size: 20px;
  padding: 5px;
  height: 50px;
}

@media screen and (max-width: 560px) {
  .UsersItem {
    margin: 0 auto;
    &_imgs {
      width: 350px;
      a img {
        border-radius: 50%;
        margin-left: 30px;
        width: 100px;
        height: 100px;
      }
    }
    &_title_name {
      &_lest1 {
        width: 163px;
        display: block;
      }
      &_lest2 {
        width: 450px;
      }
    }
  }
  .AllUsersPage {
    &_mypagelink {
      margin-left: 30px;
      margin-top: 25px;
    }
    &_search_form {
      text-align: center;
      margin-right: 0;
    }
    .pagination {
      margin-left: 15px;
    }
  }
  .usershowPage {
    .userAction {
      margin: 0vh auto 0;
    }
    .col-md-6.usershowPage_leftItem {
      margin-bottom: 60px;
    }
  }
  td.UsersItem_name {
    height: 100px;
    padding-top: 30px;
  }
}
