$main-color: darksalmon;
$main-text-color: #fff;

body {
  // width: 100px;
  /* height: 100px; 高さをコメントアウト */
  overflow: visible;
}

.sinupPage {
  .header {
    padding: 20px;
    text-align: center;
    background: $main-color;
    color: $main-text-color;
  }
  .userProfileImg {
    position: relative;
    margin: 0 auto 10px auto;
    width: 100px;
    height: 100px;
    background: darksalmon;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    &:hover .userProfileImg_description {
      opacity: 1;
    }
    &_description {
      transition: opacity .5s;
      opacity: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      position: absolute;
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(5, 5, 5, .5);
      color: #fff;
    }
    .fa-camera {
      color: #fff;
    }
    &>input {
      display: none;
    }
  }
  .userImgPreview {
    margin: 0 auto;
    display: none;
    text-align: center;
    &.is-active {
      display: block;
    }
    &_content {
      max-width: 100px;
      margin: 10px;
      padding: 10px;
      border: solid thin lightgray;
      border-radius: 5px;
    }
    &_text {
      font-size: 11px;
    }
  }
  .submitBtn {
    background: $main-color;
    color: $main-text-color;
    width: 200px;
    padding: 10px;
    border-radius: 90px;
    transition: opacity .5s;
    &:hover {
      opacity: .6;
    }
  }
  .Label_Required {
    display: inline-block;
    background-color: $main-color;
    color: #fff;
    margin-left: 10px;
    width: 45px;
    text-align: center;
  }
}