.signinPage {
  margin-top: 10vh;
  .title {
    color: darksalmon;
    margin: 20px 0;
    text-align: center;
  }
  .userIcon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto;
    background: darksalmon;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .loginBtn {
    padding: 12px;
    width: 200px;
    border-radius: 21px;
    background: darksalmon;
    color: #fff;
    text-align: center;
    border: none;
    margin-top: 20px;
    opacity: 1;
    transition: opacity .5s;
    cursor: pointer;
    &:hover {
      opacity: .7;
    }
  }
}