<header id="CommonHeader">
    <p>
      <%= link_to "Restaurant Share", root_path %>
      <span class="notification">
        <% unchecked_notifications = current_user.passive_notifications.where(checked: false) %>
        <%= link_to notifications_path, class: "notification_page_link" do %>
          <% if unchecked_notifications.any? %>
            <i class="fas fa-bell animate__animated animate__swing"></i>
          <% else %>
            <i class="fas fa-bell"></i>
          <% end %>
          <% if unchecked_notifications.any? %>
            <i class="fa fa-circle notification-circle">お知らせ</i>
          <% end %>
        <% end %>
      </span>
    </p>
</header>